body {
    
    font-family: 'Roboto Mono', monospace;
    font-family: 'Quicksand', sans-serif;
}

.btn-check-fact {
    font-family: 'Roboto Mono', monospace;
    font-family: 'Quicksand', sans-serif;
}

.btn-next-product {
    font-family: 'Roboto Mono', monospace;
    font-family: 'Quicksand', sans-serif;
}

.sugar-cube-img {
    width: 10%;
    margin-top: 1rem;
}